@use '../custom' as *;
@use '../base/mixin' as m;

.modal-body_donates {
    display: flex;
    justify-content: center;
    align-items: center;

    .construct_temp {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 65px;
        width: 100%;
        min-height: 150px;
    }

    .link_whatsapp {
        font-size: 24px;
        text-decoration: none;
    }

    .link_whatsapp:hover {
        color: $success !important;
    }

    .link_facebook {
        font-size: 24px;
        text-decoration: none;
    }

    .link_facebook:hover {
        color: $primary !important;
    }
}

/** MODAL DE TALLERES  **/
.modal_taller {
    .pe-lg-1 {
        border-right: 0;
        border-bottom: 0.5px solid $secondary;

        @include media-breakpoint-up(lg) {
            border-right: 0.5px solid $secondary;
            border-bottom: 0;
        }
    }
}